<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A.Wanjau || Weather app</title>
  <link rel="stylesheet" href="./main.css"/>
</head>
<body>
  <div class="app-wrap">
    <header>
      <form action="/city" method="POST">
        <input name="city" type="text" autocomplete="off" class="search-box" placeholder="Search for a city..." />
        <button class="button">Search</button>
      </form>
    </header>
    <main>
      <section class="location">
        <div class="city"><%= weather.city %>, <%= weather.country %></div>
        <div class="date">Sunday 12 July 2020</div>
      </section>
      <div class="current">
        <div class="temp"><%= weather.temperature %><span>°c</span></div>
        <div class="weather"><%= weather.description %></div>
        <div class="hi-low"><%= weather.tempmin %>°c / <%= weather.tempmax %>°c</div>
      </div>
    </main>
  </div>
</body>
</html>